input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.right {
    float: right;
}

.right-align {
    text-align: right;
}

.modal-body {
    BACKGROUND: #777;
}

.modal-body,
.modal-footer,
.modal-header {
    padding: 8px;
}

.even,
.odd,
tbody,
.modal-header,
.modal-footer {
    BACKGROUND: #4e4e4e !important;
}

thead {
    BACKGROUND: #39393e;
}

tr,
.Titulo,
#lista_secciones_filter,
#lista_secciones_length,
.dataTables_info,
.modal-header,
.modal-body {
    color: white;
}

.espacio-top {
    margin-top: 6rem;
}

.navbar-center {
    width: 100%;
    text-align: center;
}

.navbar-center li {
    float: none;
    display: inline-block;
}

.close {
    color: white;
    text-shadow: none;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
}

body {
    background: transparent;
}

.img-thumbnail {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    background-color: #4e4e4e;
    border: 1px solid #4e4e4e;
}

.img-thumbnail:hover {
    opacity: 0.5;
}

.close-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    /*z-index: 9999;*/
    background: transparent;
    border: 0;
}

.preview-thumbnail {
    position: relative;
}

.preview-thumbnail a:hover {
    color: red !important;
}

.preview-thumbnail a {
    color: transparent !important;
    font-size: xx-large;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}