body {
    overflow-x: hidden;
    background: #303030;
    color: white;
    font-family: "Open Sans";
}

.img-responsive {
    background-repeat: no-repeat !important;
}

.espacio-top {
    margin-top: 10rem;
}

#Titulo u {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 0.5rem solid #5984bf;
}

input:-internal-autofill-selected {
    color: none;
}

.center {
    text-align: center;
}

#formulario {
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#formulario input,
#formulario textarea {
    margin: 1rem;
    border-color: #B5D6A9;
    border-radius: 1rem;
}


/*#formulario input:focus,
#formulario textarea:focus {
    border-color: #327522;
    box-shadow: none;
}*/

#formulario input {
    height: 5rem;
}

.ColFormulario {
    padding: 0 1rem;
}

.DivGuardar {
    text-align: center;
    margin-top: 1.5rem;
}

.form-contacto {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-success {
    font-size: xx-large;
    /*border-radius: 20px;*/
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.btn-success,
.btn-success:focus {
    background-color: #5984bf;
    border-color: #5984bf;
}

.btn-success:hover {
    background-color: #162e49 !important;
    border-color: #162e49 !important;
}